#
# Copyright (C) 2023 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

#
# This systemd unit starts a kickstart instance using Podman.
# Most parts of this file come from podman-generate-systemd.
#
[Unit]
Description=kickstart server

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
WorkingDirectory=%S/state
Restart=always
ExecStartPre=/bin/rm -f %t/kickstart.pid %t/kickstart.ctr-id
ExecStartPre=-runagent discover-smarthost
ExecStart=/usr/bin/podman run \
    --detach \
    --conmon-pidfile=%t/kickstart.pid \
    --cidfile=%t/kickstart.ctr-id \
    --cgroups=no-conmon \
    --replace --name=%N \
    --publish=127.0.0.1:${TCP_PORT}:8080 \
    --env-file=smarthost.env \
    ${ECHO_SERVER_IMAGE}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/kickstart.ctr-id -t 10
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/kickstart.ctr-id
PIDFile=%t/kickstart.pid
Type=forking

[Install]
WantedBy=default.target
