#
# Copyright (C) 2023 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

#
# This systemd unit starts a nginx instance using Podman.
# Most parts of this file come from podman-generate-systemd.
#
[Unit]
Description=nginx server

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
WorkingDirectory=%S/state
Restart=always
ExecStartPre=/bin/rm -f %t/nginx.pid %t/nginx.ctr-id
ExecStartPre=runagent bash -c "envsubst '$${PORTHOS_NGINX_PORT},$${PORTHOS_SERVER_NAME}' <../templates/nginx.conf >nginx.conf"
ExecStart=/usr/bin/podman run \
    --detach \
    --conmon-pidfile=%t/nginx.pid \
    --cidfile=%t/nginx.ctr-id \
    --cgroups=no-conmon \
    --replace --name=%N \
    --network=host \
    --volume=sockets:/srv/porthos/run:z \
    --volume=./nginx.conf:/etc/nginx/nginx.conf:z \
    --volume=webroot:/srv/porthos/webroot \
    --env=PORTHOS_* \
    ${NGINX_IMAGE}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/nginx.ctr-id -t 10
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/nginx.ctr-id
PIDFile=%t/nginx.pid
Type=forking

[Install]
WantedBy=default.target
